@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Praise&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(to left, #74ebd5, #9face6);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.container {
  background-color: #ffff;
  border-radius: 10px;
  -webkit-border-redius: 10px;
  overflow: hidden;
  width: calc(100vw - 65vw);
}
.header {
  background-color: #e74c3c;
  padding: 30px 0;
}
.header h2 {
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.form .btn {
  background-color: #2ecc71;
  border-radius: 6px;
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease;
}
.form .btn:hover {
  background: linear-gradient(to right, #74ebd5, #9face6);
}
@media (max-width: 998px) {
  .container {
    width: calc(100vw - 35vw);
    max-width: 100%;
  }
}
.form {
  padding: 40px;
}
.form-control {
  margin-bottom: 30px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  padding: 12px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
